.main {
  text-align: center;
}
.first {
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 400px;
  width: 500px;
  background-color: cadetblue;
  border: 2px solid black;
  border-radius: 20px;
}
.second {
  display: flex;
  flex-direction: column;
}
.second button {
  background-color: teal;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 50px;
  margin-bottom: 10px;
}
.third button {
  background-color: teal;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 50px;
  margin-bottom: 10px;
}
.third {
  display: flex;
  flex-direction: column;
}
#t1 {
  height: 80px;
  width: 200px;
  margin-bottom: 40px;
  border: 2px solid blanchedalmond;
}
#t2 {
  height: 80px;
  width: 200px;
  margin-bottom: 40px;
  border: 2px solid blanchedalmond;
}
